<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>U_By_Kotex_Cleanwear_Heavy_Flow_Pads_32_Ct</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>U By Kotex Cleanwear Heavy Flow Pads 32 Ct
2x, We've got answers to the questions you are afraid to ask.  Serious attitude.  Serious protection.  For when things get heavy.  Unique shape conforms to fit your body.  First 4 layer advanced absorbency system.  Clean Wear cover for a clean and fresh feeling.  MemoryFlex core is ultra-thin and ultra-flexible to move with you.  No.  66 Myth or Fact?: PMS is a pain in the back.  Fact - Low back pain is pretty common just before and during the first few days of your period.  It's your excuse to go get a massage or do some gentle yoga.  Made in the USA from domestic and imported materials.</description>
</model>
